/* Global body styles */
body {
  font-family: Roboto, Arial, sans-serif;
  color: #212121; /* dark gray text */
  margin: 0;
  background-color: #FFFFFF; /* clean white background */
}

p {
  margin: 0;
}

button, select, input {
  font-family: Roboto, Arial, sans-serif;
  cursor: pointer;
}

/* Primary buttons (CTA) */
.button-primary {
  color: #323946; /* white text */
  background-color: rgb(19 175 187); /* vibrant blue */
  border: 1px solid rgb(19 175 187);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(30, 144, 255, 0.3);
  transition: all 0.3s ease;
}

.button-primary:hover {
  background-color: #0ef; /* dark blue on hover */
  border-color: #0ef;
}

.button-primary:active {
  background-color: rgb(19 175 187);
  border-color: rgb(19 175 187);
  box-shadow: none;
}

/* Secondary buttons */
.button-secondary {
  color: #212121;
  background-color: #F7F9FC; /* light gray */
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(224, 224, 224, 0.5);
  transition: all 0.3s ease;
}

.button-secondary:hover {
  background-color: #FFFFFF;
}

.button-secondary:active {
  background-color: #F0F0F0;
  box-shadow: none;
}

/* Limit text to 2 lines */
.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Primary links */
.link-primary {
  color: rgb(19 175 187); /* blue CTA */
  cursor: pointer;
  transition: color 0.3s ease;
}

.link-primary:hover {
  color: #0ef; /* dark blue on hover */
}

/* Inputs and dropdowns */
select, input {
  color: #212121;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(224, 224, 224, 0.5);
  transition: all 0.3s ease;
}

select:focus,
input:focus {
  outline: 2px solid rgb(19 175 187); /* blue focus */
}
