.website-header {
  background-color: #1f242d; /* light, clean background */
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.website-header-left-section {
  width: 180px;
}

@media (max-width: 800px) {
  .website-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #FFFFFF;
  transition: all 0.3s ease;
}
#logo-link
{
  padding: 0;
}
.header-link:hover {
  border: 1px solid #0ef; /* blue accent */
  color: #0ef;
}


.website-logo {
  width: 100px;
  height: 53px;

}


@media (max-width: 575px) {

  .website-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.website-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 30px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.search-button {
  background-color: #0ef; /* blue CTA */
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: rgb(19 175 187); /* dark blue on hover */
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.website-header-right-section {
  margin-left:10px;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-shrink: 0;
}
.orders-link {
  color: #FFFFFF;
}



.orders-text,.loginText {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-top: 6px;
}

.cart-link {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: #0ef; /* blue CTA */
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;

  width: 26px;
  text-align: center;
}
/* Login link in the header */
#loginHeaderLink {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 6px;
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

#loginHeaderLink:hover {
  border: 1px solid #0ef; /* blue accent */
  color: #0ef;
}
